@model Message
@{
    ViewData["Title"] = "ViewMessageDetail";
    Layout = "~/Views/Layout/Index.cshtml";
}

<input type="hidden" asp-for="MessageId" />

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Messages</h4>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary">
                    <h5 class="card-title mb-0 text-white">Message Detail</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <h6 class="card-subtitle mb-2 text-muted">From: @Model.NameSurname</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Email: @Model.Email</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Date: @Model.SentDate</h6>
                    </div>
                    <div class="card-text">
                        <p>@Model.MessageDetail</p>
                    </div>
                    <a href="mailto:@Model.Email" class="btn btn-outline-primary mt-3">Reply</a>
                </div>
            </div>
        </div>
    </div>
</div>