@model ToDoList

@{
    ViewData["Title"] = "UpdateTodoList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">To Do</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Task Update Page</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can perform transactions related to experiences from the panel below:
                        </div>

                        <form method="post">
                            <input type ="hidden" asp-for="ToDoListId"/>
                            <label>Title & Detail</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Date</label>
                            <input type="date" asp-for="Date" class="form-control" />
                            <br />
                            <label>Image Url</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Update Task</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


