@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js" lang="en">
<!--<![endif]-->
@await Component.InvokeAsync("_HeadComponentPartial")

<body id="top">
    <!-- header 
    ================================================ -->
    @await Component.InvokeAsync("_NavbarComponentPartial")
    <!-- end s-header -->

    <!-- home 
    ================================================ -->
    @await Component.InvokeAsync("_FeatureComponentPartial")
    <!-- end s-home -->

    <!-- about 
    ================================================ -->
    @await Component.InvokeAsync("_AboutComponentPartial")
    <!-- end about -->

    <!-- works 
    ================================================ -->
    @await Component.InvokeAsync("_PortfolioComponentPartial") 
    <!-- end works -->

    <!-- testimonials
    ================================================== -->
    @await Component.InvokeAsync("_TestimonialComponentPartial")
    <!-- end s-testimonials -->
    
    <!-- blog
    ================================================== -->
    @* 
        <section id="blog" class="s-blog target-section">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Journal</h3>
                <h1>Latest From The Blog.</h1>
                <p class="lead">
                    Lorem ipsum Dolor adipisicing nostrud et aute.
                    Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum
                    ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.
                </p>
            </div>
        </div>

        <div class="row blog-content">
            <div class="col-full">

                <div class="blog-list block-1-2 block-tab-full">
                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 16, 2017</a>
                        </div>

                        <h2 class="h01"><a href="blog-single.html">The 10 Golden Rules of Clean Simple Design.</a></h2>
                        <p>
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh..
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Branding</a><a href="blog.html">Design</a>
                        </div>


                    </article>
                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 15, 2017</a>
                        </div>

                        <h2 class="h01"><a href="blog-single.html">Photography Can Improve Your Graphic Design.</a></h2>
                        <p>
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh..
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Photography</a>
                        </div>


                    </article>
                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 14, 2017</a>
                        </div>

                        <h2 class="h01"><a href="blog-single.html">Workspace Design Trends and Ideas.</a></h2>
                        <p>
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh dolore irure esse Duis nulla sint.
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Branding</a><a href="blog.html">Wordpress</a>
                        </div>
                    </article>
                    <article class="col-block">

                        <div class="blog-date">
                            <a href="blog-single.html">Sept 12, 2017</a>
                        </div>
                        <h2 class="h01"><a href="blog-single.html">Using Patterns in your Branding.</a></h2>
                        <p>
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh.
                        </p>

                        <div class="blog-cat">
                            <a href="blog.html">Design</a><a href="blog.html">Branding</a>
                        </div>
                    </article>
                </div> <!-- end blog-list -->

            </div> <!-- end col-full -->
        </div> <!-- end blog-content -->

    </section>  
    <!-- end s-blog -->
    <!-- s-cta
    ================================================== -->
    <section class="s-cta">

        <div class="row narrow cta">

            <div class="col-full cta__content">

                <h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost.</a></h2>

                <p class="lead">
                    Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">DreamHost</a>.
                    Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.
                </p>

                <div class="cta__action">
                    <a class="btn btn--primary btn--large" href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up Now</a>
                </div>

            </div>

        </div> <!-- end cta -->

    </section>

    *@
    
    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_StatisticsComponentPartial")
    <!-- end s-stats -->

    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_ContactComponentPartial")
    <!-- end s-contact -->

    <!-- footer
    ================================================== -->
    @await Component.InvokeAsync("_FooterComponentPartial")
    
</body>

</html>
